
block content
  .container
    include header.pug
    h1 Edit Profile
    .row
      each r in res
        form.form-horizontal(action='/edit' method='post' enctype='multipart/form-data' )
          .col-md-3
            .text-center
              .profile-userpic
                img.image-responsive(src='images/'+r.image)
                h6 Upload a different photo...
                input.form-control(type='file' name='file')
                //- i.glyphicon.glyphicon-adjust
          .col-md-9.personal-info
            h3 Personal info

              .form-group
                label.col-lg-3.control-label Email:
                .col-lg-8
                  input.form-control(type='email',name='editemail', value= r.email)
              .form-group
                label.col-md-3.control-label Username:
                .col-md-8
                  input.form-control(type='text', name='editusername', value= r.username)
              .form-group
                label.col-md-3.control-label Password:
                .col-md-8
                  input.form-control(type='password', name='editpassword' ,value= r.password)
              .form-group
                label.col-md-3.control-label
                .col-md-8
                  button.btn.btn-primary(type='submit') Save
                  | &nbsp &nbsp
                  button.btn.btn-primary(type='reset') Cancel

