extends ./layouts/main.pug

block content
  link(rel='stylesheet' href='/css/home.css')
  .col-lg-6.col-sm-6
    .card.hovercard
      .card-background
        img.card-bkimg(alt='', src='http://lorempixel.com/100/100/people/9/')
        // http://lorempixel.com/850/280/people/9/
      .useravatar
        img(alt='', src='http://lorempixel.com/100/100/people/9/')
      .card-info
        span.card-title abcd
    .btn-pref.btn-group.btn-group-justified.btn-group-lg(role='group', aria-label='...')
      .btn-group(role='group')
        button#stars.btn.btn-primary(type='submit', href='/twit', data-toggle='tab')
          a(href="/twit")
            span.glyphicon.glyphicon-star(aria-hidden='true')
            .hidden-xs tweets
      .btn-group(role='group')
        button#favorites.btn.btn-default(type='button', href='/following', data-toggle='tab')
          a(href="/following")
            span.glyphicon.glyphicon-heart(aria-hidden='true')
            .hidden-xs Following
      .btn-group(role='group')
        button#following.btn.btn-default(type='button', href='/followers', data-toggle='tab')
          a(href="/followers")
            span.glyphicon.glyphicon-user(aria-hidden='true')
            .hidden-xs Followers
  //- .container
  //- .row
  //-   each book in twit
  //-     .col-md-4
  //-       .well
  //-         p
  //-         span= book.user_id
  //-         br
  //-         br
  //-         span= book.tweet
  //-         br
  //-         br
