extends ./layouts/main.pug

block content
  link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
  .container
      .fb-profile
        img.fb-image-lg(align='left', src='http://lorempixel.com/850/280/nightlife/5/', alt='Profile image example')
        |
        img.fb-image-profile.thumbnail(align='left', src='http://lorempixel.com/180/180/people/9/', alt='Profile image example')
        |
        .fb-profile-text
          h1 Eli Macy
          |
          p Girls just wanna go fun.
    // /container

        //- #tab2.tab-pane.fade.in
        //-   h3 This is tab 2
        //- #tab3.tab-pane.fade.in
        //-   h3 This is tab 3

