ul{
 margin-bottom: auto;
 padding-bottom: 0px;
 background: linear-gradient(#23527c,#ffffff);
}
ul li {
 margin-left: 50px;
  font-size: 15px;
}

.container {
  padding-top: 50px;
  padding-left: 50px
}
